Repository Pu11en/theasset.io, changes with the owners that .github/CODEOWNERS names for each.
All owners: @asset-io/core-team, @asset-io/frontend-team, @asset-io/devops-team, @asset-io/docs-team, @asset-io/design-team, @asset-io/security-team, @asset-io/project-managers

Change 'The Asset Studio' header text color from white to black
  src/components/sections/Navigation.tsx
Owners: @asset-io/frontend-team

Update Solutions section with video backgrounds and text styling improvements
  src/components/sections/Solutions.tsx
Owners: @asset-io/frontend-team

Add comprehensive test suite for Solutions component
  package-lock.json
  package.json
  run-solutions-tests.test.js
  solutions-accessibility-test.test.js
  solutions-component.test.js
  solutions-performance-test.test.js
  solutions-quick-test.test.js
  solutions-test-report.test.js
  solutions-video-test.test.js
  test-results/screenshots/visual-desktop-chromium.png
  test-results/screenshots/visual-desktop-firefox.png
  test-results/screenshots/visual-desktop-webkit.png
  test-results/screenshots/visual-mobile-chromium.png
  test-results/screenshots/visual-mobile-firefox.png
  test-results/screenshots/visual-tablet-chromium.png
  test-results/screenshots/visual-tablet-firefox.png
  test-results/solutions-accessibility-test-report.json
  test-results/solutions-comprehensive-test-report.json
  test-results/solutions-performance-test-report.json
  test-results/solutions-quick-test-report.json
  test-results/solutions-test-report.html
  test-results/solutions-test-report.md
  test-results/solutions-video-test-report.json
Owners: @asset-io/devops-team, @asset-io/core-team, @asset-io/docs-team

Update website content: Remove 90 Days banner, update Implementation text, remove Pricing section, and update testimonials
  src/app/page.tsx
  src/components/sections/Process.tsx
  src/components/sections/Testimonials.tsx
Owners: @asset-io/frontend-team

Remove Join 500+ Happy Clients banner
  src/components/sections/Testimonials.tsx
Owners: @asset-io/frontend-team

Remove green CTA section from website
  src/app/page.tsx
Owners: @asset-io/frontend-team

Fix spelling and grammar issues across project components
  src/components/sections/CTA.tsx
  src/components/sections/Process.tsx
  src/components/sections/Solutions.tsx
  src/components/sections/Testimonials.tsx
Owners: @asset-io/frontend-team

Fix: Reduce overlay opacity in Solutions section to improve background video visibility
  src/components/sections/Solutions.tsx
Owners: @asset-io/frontend-team

Fix: Update mobile hero background image from old to new version
  src/components/sections/Hero.tsx
Owners: @asset-io/frontend-team

fix: eliminate legacy image flash in hero section on mobile devices
  src/components/sections/Hero.tsx
Owners: @asset-io/frontend-team

Update Footer component with new contact info, branding, and navigation links
  src/components/sections/FAQ.tsx
  src/components/sections/Footer.tsx
Owners: @asset-io/frontend-team

Replace Zero Risk card placeholder image with embedded video from Cloudinary
  src/components/sections/WhyChooseUs.tsx
  src/components/ui/carousel.tsx
  test-hero-no-image-flash.js
  test-mobile-video-no-flash.html
  test-video-carousel.html
  test-why-choose-us-video.js
  verify-video-implementation.js
Owners: @asset-io/frontend-team, @asset-io/core-team

Add comprehensive test suite for WhyChooseUs component with 9:16 aspect ratio verification
  test-results/why-choose-us-comprehensive-test-report.json
  why-choose-us-comprehensive-fixed.test.js
  why-choose-us-test-report.test.js
Owners: @asset-io/devops-team, @asset-io/core-team

Update carousel to support vertical video content with 9:16 aspect ratio
  src/components/ui/carousel.tsx
Owners: @asset-io/frontend-team

Update Zero Risk card with new subheading and improved text readability over video background
  src/components/sections/WhyChooseUs.tsx
  src/components/ui/carousel.tsx
Owners: @asset-io/frontend-team

Implement CSS-based solution for Zero Risk card video scaling
  src/app/globals.css
  src/components/sections/WhyChooseUs.tsx
  src/components/ui/carousel.tsx
Owners: @asset-io/frontend-team

Add comprehensive test suite for video scaling fix
  manual-testing-video-scaling.test.js
  test-results/screenshots/visual-regression/text-readability-test-desktop-chromium-1760420776026.png
  test-results/screenshots/visual-regression/text-readability-test-mobile-chromium-1760420480117.png
  test-results/screenshots/visual-regression/text-readability-test-mobile-landscape-chromium-1760420553352.png
  test-results/screenshots/visual-regression/text-readability-test-tablet-chromium-1760420627479.png
  test-results/screenshots/visual-regression/text-readability-test-tablet-landscape-chromium-1760420701825.png
  test-results/screenshots/visual-regression/zero-risk-card-active-desktop-chromium-1760420708708.png
  test-results/screenshots/visual-regression/zero-risk-card-active-desktop-wide-chromium-1760420782986.png
  test-results/screenshots/visual-regression/zero-risk-card-active-mobile-chromium-1760420413521.png
  test-results/screenshots/visual-regression/zero-risk-card-active-mobile-landscape-chromium-1760420486365.png
  test-results/screenshots/visual-regression/zero-risk-card-active-tablet-chromium-1760420559623.png
  test-results/screenshots/visual-regression/zero-risk-card-active-tablet-landscape-chromium-1760420634260.png
  test-results/screenshots/visual-regression/zero-risk-card-initial-desktop-chromium-1760420704665.png
  test-results/screenshots/visual-regression/zero-risk-card-initial-desktop-wide-chromium-1760420778862.png
  test-results/screenshots/visual-regression/zero-risk-card-initial-mobile-chromium-1760420410234.png
  test-results/screenshots/visual-regression/zero-risk-card-initial-mobile-landscape-chromium-1760420482833.png
  test-results/screenshots/visual-regression/zero-risk-card-initial-tablet-chromium-1760420555965.png
  test-results/screenshots/visual-regression/zero-risk-card-initial-tablet-landscape-chromium-1760420630376.png
  test-results/video-scaling-final-report.html
  test-results/video-scaling-final-report.json
  test-results/video-scaling-simple-report.html
  test-results/video-scaling-simple-test-report.json
  test-results/video-scaling-test-report.json
  video-scaling-comprehensive.test.js
  video-scaling-final-test-report.test.js
  video-scaling-simple.test.js
  video-scaling-test-runner.test.js
  visual-regression-video-scaling.test.js
Owners: @asset-io/core-team, @asset-io/devops-team

Add additional test screenshots for video scaling validation
  test-results/screenshots/visual-regression/text-readability-test-desktop-wide-chromium-1760420850588.png
  test-results/screenshots/visual-regression/text-readability-test-mobile-firefox-1760420928062.png
  test-results/screenshots/visual-regression/zero-risk-card-active-mobile-firefox-1760420859803.png
  test-results/screenshots/visual-regression/zero-risk-card-active-mobile-landscape-firefox-1760420935880.png
  test-results/screenshots/visual-regression/zero-risk-card-initial-mobile-firefox-1760420856908.png
  test-results/screenshots/visual-regression/zero-risk-card-initial-mobile-landscape-firefox-1760420932408.png
Owners: @asset-io/core-team

Implement strict 3:4 aspect ratio for all carousel cards
  src/app/globals.css
  src/components/ui/carousel.tsx
  test-results/screenshots/visual-regression/text-readability-test-desktop-firefox-1760421226357.png
  test-results/screenshots/visual-regression/text-readability-test-desktop-wide-firefox-1760421300011.png
  test-results/screenshots/visual-regression/text-readability-test-mobile-landscape-firefox-1760421003761.png
  test-results/screenshots/visual-regression/text-readability-test-mobile-landscape-webkit-1760421451673.png
  test-results/screenshots/visual-regression/text-readability-test-mobile-webkit-1760421377051.png
  test-results/screenshots/visual-regression/text-readability-test-tablet-firefox-1760421077471.png
  test-results/screenshots/visual-regression/text-readability-test-tablet-landscape-firefox-1760421151064.png
  test-results/screenshots/visual-regression/zero-risk-card-active-desktop-firefox-1760421157759.png
  test-results/screenshots/visual-regression/zero-risk-card-active-desktop-wide-firefox-1760421232684.png
  test-results/screenshots/visual-regression/zero-risk-card-active-mobile-landscape-webkit-1760421383643.png
  test-results/screenshots/visual-regression/zero-risk-card-active-mobile-webkit-1760421308141.png
  test-results/screenshots/visual-regression/zero-risk-card-active-tablet-firefox-1760421010090.png
  test-results/screenshots/visual-regression/zero-risk-card-active-tablet-landscape-firefox-1760421083793.png
  test-results/screenshots/visual-regression/zero-risk-card-active-tablet-webkit-1760421459273.png
  test-results/screenshots/visual-regression/zero-risk-card-initial-desktop-firefox-1760421154808.png
  test-results/screenshots/visual-regression/zero-risk-card-initial-desktop-wide-firefox-1760421229468.png
  test-results/screenshots/visual-regression/zero-risk-card-initial-mobile-landscape-webkit-1760421380220.png
  test-results/screenshots/visual-regression/zero-risk-card-initial-mobile-webkit-1760421304852.png
  test-results/screenshots/visual-regression/zero-risk-card-initial-tablet-firefox-1760421007217.png
  test-results/screenshots/visual-regression/zero-risk-card-initial-tablet-landscape-firefox-1760421080781.png
  test-results/screenshots/visual-regression/zero-risk-card-initial-tablet-webkit-1760421456008.png
Owners: @asset-io/frontend-team, @asset-io/core-team

Fix text visibility and card spacing issues in WhyChooseUs carousel
  src/app/globals.css
  src/components/ui/carousel.tsx
  test-results/.last-run.json
  test-results/aspect-ratio-analysis.json
  test-results/why-choose-us-raw-results.json
  test-results/why-choose-us-responsivene-2cdc1-e-working-navigation-arrows/error-context.md
  test-results/why-choose-us-responsivene-4e99f-e-working-navigation-arrows/error-context.md
  test-results/why-choose-us-responsivene-6227c-e-working-navigation-arrows/error-context.md
  test-results/why-choose-us-responsivene-72f00-e-working-navigation-arrows/error-context.md
  test-results/why-choose-us-responsivene-ae396-e-working-navigation-arrows/error-context.md
  test-results/why-choose-us-responsivene-c319d-e-working-navigation-arrows/error-context.md
  test-results/why-choose-us-responsivene-cd3d4-e-working-navigation-arrows/error-context.md
  test-results/why-choose-us-responsiveness-report.html
  test-results/why-choose-us-responsiveness-report.json
  why-choose-us-responsiveness.test.js
Owners: @asset-io/frontend-team, @asset-io/devops-team, @asset-io/docs-team, @asset-io/core-team

Add comprehensive carousel functionality tests to verify fixes for 3:4 aspect ratio, text visibility, and card spacing
  carousel-functionality-final-report.test.js
  carousel-functionality.test.js
  carousel-mock-functionality.test.js
  carousel-test-runner.test.js
  test-results/carousel-functionality-final-report.json
  test-results/carousel-functionality-mock-report.json
Owners: @asset-io/core-team, @asset-io/devops-team

Update carousel navigation arrows positioning and styling
  src/components/ui/carousel.tsx
Owners: @asset-io/frontend-team

Fix carousel aspect ratio to ensure proper 3:4 ratio
  src/app/globals.css
  src/components/ui/carousel.tsx
Owners: @asset-io/frontend-team

Add comprehensive test suite for carousel aspect ratio and video behavior fixes
  carousel-aspect-ratio-video-fixes.test.js
  carousel-test-report-generator.test.js
  test-results/carousel-aspect-ratio-screenshots/desktop-card-1.png
  test-results/carousel-aspect-ratio-screenshots/desktop-card-2.png
  test-results/carousel-aspect-ratio-screenshots/desktop-card-3.png
  test-results/carousel-aspect-ratio-screenshots/desktop-full-page.png
  test-results/carousel-aspect-ratio-screenshots/mobile-card-1.png
  test-results/carousel-aspect-ratio-screenshots/mobile-full-page.png
  test-results/carousel-aspect-ratio-screenshots/tablet-card-1.png
  test-results/carousel-aspect-ratio-screenshots/tablet-card-2.png
  test-results/carousel-aspect-ratio-screenshots/tablet-full-page.png
  test-results/carousel-aspect-ratio-video-report.json
  test-results/carousel-aspect-ratio-video-report.md
Owners: @asset-io/core-team, @asset-io/devops-team, @asset-io/docs-team

Fix carousel aspect ratio and transform issues
  src/app/globals.css
  src/components/ui/carousel.tsx
Owners: @asset-io/frontend-team

Test carousel functionality across different viewport sizes with 3:4 aspect ratio cards
  carousel-comprehensive-test-runner.test.js
  carousel-final-test-report.test.js
  carousel-simulation-test.test.js
  test-results/carousel-final-test-report.json
  test-results/carousel-final-test-report.md
  test-results/carousel-simulation-report.json
  test-results/carousel-simulation-report.md
Owners: @asset-io/core-team, @asset-io/devops-team, @asset-io/docs-team

Implement new carousel component with smooth transitions
  docs/CAROUSEL_ARCHITECTURE_DESIGN.md
  src/app/globals.css
  src/components/sections/WhyChooseUs.tsx
  src/components/ui/carousel.tsx
  test-carousel-implementation.html
Owners: @asset-io/docs-team, @asset-io/frontend-team, @asset-io/core-team

Fix build errors: remove unused imports/variables and replace img with Next.js Image
  src/app/globals.css
  src/components/sections/Hero.tsx
  src/components/ui/carousel.tsx
Owners: @asset-io/frontend-team

Add new video and image assets to WhyChooseUs carousel
  src/components/sections/WhyChooseUs.tsx
Owners: @asset-io/frontend-team

Add comprehensive test suite for updated carousel functionality
  next.config.ts
  test-results/new-slides-screenshots/desktop-image-slide-1760474792257.png
  test-results/new-slides-screenshots/desktop-navigation-1760474799437.png
  test-results/new-slides-screenshots/desktop-responsiveness-1760474800250.png
  test-results/new-slides-screenshots/desktop-text-overlays-1760474794323.png
  test-results/new-slides-screenshots/desktop-video-slide-1760474791641.png
  test-results/new-slides-screenshots/mobile-image-slide-1760474762288.png
  test-results/new-slides-screenshots/mobile-navigation-1760474769986.png
  test-results/new-slides-screenshots/mobile-responsiveness-1760474770823.png
  test-results/new-slides-screenshots/mobile-text-overlays-1760474764534.png
  test-results/new-slides-screenshots/mobile-video-slide-1760474761494.png
  test-results/new-slides-screenshots/tablet-image-slide-1760474777443.png
  test-results/new-slides-screenshots/tablet-navigation-1760474785138.png
  test-results/new-slides-screenshots/tablet-responsiveness-1760474785990.png
  test-results/new-slides-screenshots/tablet-text-overlays-1760474779803.png
  test-results/new-slides-screenshots/tablet-video-slide-1760474776571.png
  test-results/new-slides-test-report.html
  test-results/new-slides-test-report.json
  why-choose-us-new-slides.test.js
Owners: @asset-io/devops-team, @asset-io/core-team

Redesign WhyChooseUs carousel to display exclusively three video cards
  src/app/globals.css
  src/components/sections/WhyChooseUs.tsx
  src/components/ui/VideoCard.tsx
  src/components/ui/carousel.tsx
  test-video-carousel-redesign.html
Owners: @asset-io/frontend-team, @asset-io/core-team

feat: implement lazy loading for videos in WhyChooseUs carousel
  src/components/sections/WhyChooseUs.tsx
  src/components/ui/VideoCard.tsx
  src/components/ui/carousel.tsx
  src/hooks/useVideoLazyLoad.ts
  src/utils/videoPerformanceMonitor.ts
  test-lazy-loading-implementation.test.js
  test-video-lazy-loading.html
Owners: @asset-io/frontend-team, @asset-io/core-team

feat: enhance carousel with mobile touch gestures and responsive breakpoints
  mobile-carousel-optimization.test.js
  src/app/globals.css
  src/components/sections/WhyChooseUs.tsx
  src/components/ui/VideoCard.tsx
  src/components/ui/carousel.tsx
Owners: @asset-io/core-team, @asset-io/frontend-team

Fix ESLint error: Replace 'any' type with proper typing in videoPerformanceMonitor.ts
  src/utils/videoPerformanceMonitor.ts
Owners: @asset-io/frontend-team

Fix ESLint warnings and errors in video components
  src/components/ui/VideoCard.tsx
  src/components/ui/carousel.tsx
  src/hooks/useVideoLazyLoad.ts
  src/utils/videoPerformanceMonitor.ts
Owners: @asset-io/frontend-team

Add render.yaml with build optimizations and health check endpoint
  render.yaml
  src/app/api/health/route.ts
Owners: @asset-io/devops-team, @asset-io/frontend-team

feat: enhance carousel with improved navigation, card layout, and video behavior
  carousel-comprehensive-enhancement-test.test.js
  carousel-enhancement-final-test-report.test.js
  carousel-enhancement-manual-verification.test.js
  carousel-responsive-crossbrowser.test.tsx
  carousel-responsive-test-report.tsx
  carousel-responsive-verification.test.js
  docs/VIDEO_AUTOPLAY_OPTIMIZATION.md
  src/app/globals.css
  src/components/sections/Hero.tsx
  src/components/sections/Navigation.tsx
  src/components/sections/Solutions.tsx
  src/components/sections/WhyChooseUs.tsx
  src/components/ui/VideoCard.tsx
  src/components/ui/carousel.tsx
  src/components/ui/flickering-grid.tsx
  src/hooks/useVideoLazyLoad.ts
  src/styles/carousel-responsive-enhancements.css
  test-business-automations-card.html
  test-carousel-text-emphasis.tsx
  test-extensive-experience-card.html
  test-results/.last-run.json
  test-results/carousel-enhancement-checklist.html
  test-results/carousel-enhancement-final-test-report.json
  test-results/carousel-enhancement-final-test-report.md
  test-results/carousel-enhancement-manual-verification-report.json
  test-video-autoplay-behavior.html
  test-video-autoplay-verification.js
  test-video-browser-compatibility.js
  test-zeroRisk-card.html
Owners: @asset-io/core-team, @asset-io/docs-team, @asset-io/frontend-team, @asset-io/devops-team

Update Why Choose Us section: Display static image without text and fix duplicate heading
  src/components/sections/WhyChooseUs.tsx
Owners: @asset-io/frontend-team

Fix Business Automations card to display as static image
  src/components/ui/VideoCard.tsx
Owners: @asset-io/frontend-team

fix: React Hooks rules violations in VideoCard component
  src/components/ui/VideoCard.tsx
Owners: @asset-io/frontend-team

.github/CODEOWNERS:

# Code Owners file for Asset Marketing Studio

# Default owners for the entire repository
* @asset-io/core-team

# Specific owners for different sections

# Frontend code
/src/ @asset-io/frontend-team

# Configuration files
*.json @asset-io/devops-team
*.config.* @asset-io/devops-team
*.yml @asset-io/devops-team
*.yaml @asset-io/devops-team

# Documentation
/docs/ @asset-io/docs-team
*.md @asset-io/docs-team

# Design assets
/public/ @asset-io/design-team

# GitHub Actions and workflows
.github/workflows/ @asset-io/devops-team

# Security related files
SECURITY.md @asset-io/security-team

# Project management
PROJECT_STRUCTURE.md @asset-io/project-managers
EXECUTION_PLAN.md @asset-io/project-managers
CLEANUP_PLAN.md @asset-io/project-managers
