Repository Pu11en/theasset.io, changes with the owners that .github/CODEOWNERS names for each.
All owners: @asset-io/core-team, @asset-io/frontend-team, @asset-io/devops-team, @asset-io/docs-team, @asset-io/design-team, @asset-io/security-team, @asset-io/project-managers

Fix video autoplay and looping behavior in Extensive Experience card
  src/components/ui/VideoCard.tsx
  src/hooks/useVideoLazyLoad.ts
  test-extensive-experience-autoplay.html
  test-extensive-experience-fix.html
  verify-video-fix.js
Owners: @asset-io/frontend-team, @asset-io/core-team

Transform Book Now and Schedule Your Free Call buttons to hyperlink buttons
  src/components/BookingForm.tsx
  src/components/sections/FAQ.tsx
  src/components/sections/Hero.tsx
  src/components/sections/Navigation.tsx
Owners: @asset-io/frontend-team

Update CTA buttons to link to new booking modal URL
  eslint.config.mjs
  src/components/sections/FAQ.tsx
  src/components/sections/Hero.tsx
  src/components/sections/Navigation.tsx
  tsconfig.json
Owners: @asset-io/devops-team, @asset-io/frontend-team

Update first testimony from 'Lala's Brand, founder Boxmeal' to 'Sybil's, founder of Drink Product'
  src/components/sections/Testimonials.tsx
Owners: @asset-io/frontend-team

Enhance security and SEO: Add CSP headers, structured data, and improved metadata
  render.yaml
  src/app/layout.tsx
Owners: @asset-io/devops-team, @asset-io/frontend-team

.github/CODEOWNERS:

# Code Owners file for Asset Marketing Studio

# Default owners for the entire repository
* @asset-io/core-team

# Specific owners for different sections

# Frontend code
/src/ @asset-io/frontend-team

# Configuration files
*.json @asset-io/devops-team
*.config.* @asset-io/devops-team
*.yml @asset-io/devops-team
*.yaml @asset-io/devops-team

# Documentation
/docs/ @asset-io/docs-team
*.md @asset-io/docs-team

# Design assets
/public/ @asset-io/design-team

# GitHub Actions and workflows
.github/workflows/ @asset-io/devops-team

# Security related files
SECURITY.md @asset-io/security-team

# Project management
PROJECT_STRUCTURE.md @asset-io/project-managers
EXECUTION_PLAN.md @asset-io/project-managers
CLEANUP_PLAN.md @asset-io/project-managers
