Repository Pu11en/theasset.io, changes with the owners that .github/CODEOWNERS names for each.
All owners: @asset-io/core-team, @asset-io/frontend-team, @asset-io/devops-team, @asset-io/docs-team, @asset-io/design-team, @asset-io/security-team, @asset-io/project-managers

feat: enhance documentation and implement background image fixes
  README.md
  docs/COMPONENT_LIBRARY.md
  docs/DOCUMENTATION_README.md
  docs/PROJECT_STATUS_REPORT.md
  docs/README.md
  docs/TESTING_GUIDE.md
  public/hero-bg-new.png
  public/solutions-bg-new.png
  src/components/sections/Solutions.tsx
Owners: @asset-io/docs-team, @asset-io/design-team, @asset-io/frontend-team

Change 'Solutions That Drive Results' text color from black to white
  src/components/sections/Solutions.tsx
Owners: @asset-io/frontend-team

Update Solutions.tsx and Benefits.tsx with new content
  src/components/sections/Benefits.tsx
  src/components/sections/Solutions.tsx
Owners: @asset-io/frontend-team

Update Benefits section: Replace ROI card with new feature cards
  src/components/sections/Benefits.tsx
Owners: @asset-io/frontend-team

Update Solutions component: remove Learn More buttons, update cards, and clean up imports
  src/components/sections/Solutions.tsx
Owners: @asset-io/frontend-team

Update Solutions section with enhanced cards
  src/components/sections/Solutions.tsx
Owners: @asset-io/frontend-team

feat: Add shadcn/ui configuration and dependencies
  components.json
  package-lock.json
  package.json
  src/app/globals.css
  src/lib/utils.ts
Owners: @asset-io/devops-team, @asset-io/frontend-team

Fix tailwindcss-animate import for Tailwind CSS v4
  src/app/globals.css
Owners: @asset-io/frontend-team

Install @tabler/icons-react dependency
  package-lock.json
  package.json
  src/app/page.tsx
  src/components/sections/Benefits.tsx
  src/components/ui/carousel.tsx
  src/components/ui/demo.tsx
Owners: @asset-io/devops-team, @asset-io/frontend-team

Integrate carousel component into page between Solutions and Process sections
  src/app/page.tsx
Owners: @asset-io/frontend-team

Replace img element with Next.js Image component in carousel
  src/components/ui/carousel.tsx
Owners: @asset-io/frontend-team

Fix unused variable warnings in Navigation.tsx and Solutions.tsx
  src/components/sections/Navigation.tsx
  src/components/sections/Solutions.tsx
Owners: @asset-io/frontend-team

Added Why Choose Us carousel section with benefits
  src/app/page.tsx
  src/components/sections/WhyChooseUs.tsx
  src/components/ui/carousel.tsx
Owners: @asset-io/frontend-team

Add animated background paths to WhyChooseUs section
  src/components/sections/WhyChooseUs.tsx
  src/components/ui/background-paths.tsx
Owners: @asset-io/frontend-team

Fix Next.js image configuration for Unsplash domains
  next.config.ts
Owners: @asset-io/devops-team

Fix layout issues in Why Choose The Asset Studio section
  src/components/sections/WhyChooseUs.tsx
  src/components/ui/carousel.tsx
Owners: @asset-io/frontend-team

Test: Add comprehensive test report for Why Choose The Asset Studio section
  package-lock.json
  package.json
  why-choose-us.test.js
Owners: @asset-io/devops-team, @asset-io/core-team

Fix layout issues in 'Why Choose The Asset Studio' section
  src/components/sections/WhyChooseUs.tsx
  src/components/ui/carousel.tsx
Owners: @asset-io/frontend-team

Update WhyChooseUs section: removed duplicate title and changed text color to black
  src/components/sections/WhyChooseUs.tsx
Owners: @asset-io/frontend-team

Remove BackgroundPaths component from WhyChooseUs section
  src/components/sections/WhyChooseUs.tsx
Owners: @asset-io/frontend-team

Remove all 'Learn More' buttons from the carousels in the Why Choose Asset Studio section
  src/components/sections/WhyChooseUs.tsx
  src/components/ui/carousel.tsx
Owners: @asset-io/frontend-team

Add FlickeringGrid component
  src/components/ui/flickering-grid.tsx
Owners: @asset-io/frontend-team

Create FlickeringGridDemo component
  src/components/ui/demo.tsx
Owners: @asset-io/frontend-team

Integrate FlickeringGrid component as background for WhyChooseUs section
  src/components/sections/WhyChooseUs.tsx
Owners: @asset-io/frontend-team

feat: Add FlickeringGrid component with animated background effect
  src/components/sections/WhyChooseUs.tsx
  src/components/ui/flickering-grid.tsx
Owners: @asset-io/frontend-team

Fix FlickeringGrid visibility in WhyChooseUs section
  src/components/sections/WhyChooseUs.tsx
Owners: @asset-io/frontend-team

Add robust fallback mechanisms to video background in Hero component
  hero-fallback-test.html
  src/components/sections/Hero.tsx
  test-cloudinary-video.html
  video-test-page.html
Owners: @asset-io/core-team, @asset-io/frontend-team

Optimize video loading performance in Hero component
  src/components/sections/Hero.tsx
Owners: @asset-io/frontend-team

Implement fully responsive video background in Hero component
  src/components/sections/Hero.tsx
  test-hero-responsive.html
Owners: @asset-io/frontend-team, @asset-io/core-team

Improve Hero component accessibility and text readability
  src/app/globals.css
  src/components/sections/Hero.tsx
  test-hero-accessibility.html
Owners: @asset-io/frontend-team, @asset-io/core-team

Fix TypeScript and ESLint errors in Hero.tsx
  src/components/sections/Hero.tsx
Owners: @asset-io/frontend-team

Fix ESLint warning in Hero.tsx by wrapping videoUrls in useMemo
  src/components/sections/Hero.tsx
Owners: @asset-io/frontend-team

Update hero section styling - change text colors to black and remove video overlay
  src/components/sections/Hero.tsx
Owners: @asset-io/frontend-team

Change 'The Asset Studio' text color to black in header
  src/components/sections/Navigation.tsx
Owners: @asset-io/frontend-team

Fix Asset Studio text styling in navigation header
  src/components/sections/Navigation.tsx
Owners: @asset-io/frontend-team

Add CSS hover effect for Learn More button in hero section
  src/components/sections/Hero.tsx
  src/styles/hero-button-styles.css
Owners: @asset-io/frontend-team

Update Asset Studio title styling to normal font and black text
  src/components/sections/Navigation.tsx
Owners: @asset-io/frontend-team

Implement mobile-only video background for Hero component
  src/components/sections/Hero.tsx
  test-mobile-video.html
Owners: @asset-io/frontend-team, @asset-io/core-team

Add comprehensive mobile video test suite and report
  mobile-video-report.test.js
  mobile-video-test-results.json
  mobile-video-test-runner.test.js
  mobile-video.test.js
Owners: @asset-io/core-team, @asset-io/devops-team

Fix mobile video implementation in Hero component
  mobile-video-test-results.json
  mobile-video-test-runner.test.js
  src/components/sections/Hero.tsx
  test-mobile-video-implementation.html
Owners: @asset-io/devops-team, @asset-io/core-team, @asset-io/frontend-team

.github/CODEOWNERS:

# Code Owners file for Asset Marketing Studio

# Default owners for the entire repository
* @asset-io/core-team

# Specific owners for different sections

# Frontend code
/src/ @asset-io/frontend-team

# Configuration files
*.json @asset-io/devops-team
*.config.* @asset-io/devops-team
*.yml @asset-io/devops-team
*.yaml @asset-io/devops-team

# Documentation
/docs/ @asset-io/docs-team
*.md @asset-io/docs-team

# Design assets
/public/ @asset-io/design-team

# GitHub Actions and workflows
.github/workflows/ @asset-io/devops-team

# Security related files
SECURITY.md @asset-io/security-team

# Project management
PROJECT_STRUCTURE.md @asset-io/project-managers
EXECUTION_PLAN.md @asset-io/project-managers
CLEANUP_PLAN.md @asset-io/project-managers
